# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CRYENGINE/Xcom/bin/win_x64
/CRYENGINE/Xcom/Editor/ResourceCache
/CRYENGINE/Xcom/logbackups
/CRYENGINE/Xcom/user
/CRYENGINE/Xcom/solutions/win64/CMakeFiles
/CRYENGINE/Xcom/solutions/win64/.vs/xcom/v16
/CRYENGINE/Xcom/solutions/win64/x64/Profile
/CRYENGINE/Xcom/solutions/win64/xcom.dir/Profile
/CRYENGINE/Xcom/solutions/win64/CRYENGINE
/RayLib/CreateAProject/x64/Release
/RayLib/CreateAProject/CreateAProject/x64/Release
/RayLib/CreateAProject/.vs/CreateAProject/v16
/RayLib/Basics/x64/Release
/RayLib/Basics/.vs
/RayLib/Basics/CreateAProject/x64/Release
